table.tablesorter thead tr th, table.tablesorter tfoot tr th {
    background-color: #e6EEEE;
    border: 1px solid #FFF;
    padding: 4px;
}

table.tablesorter tr.even:hover td, table.tablesorter tr.odd:hover td {
    background-color: lightgray;
}
